backend/node_modules/
backend/package-lock.json
*/.env
backend/dist/

frontend/node_modules/
frontend/package-lock.json
backend/package-lock.json
frontend/dist
frontend/dist-ssr
frontend/*.local
frontend/.vite

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
